.chat_user_container {
  border-radius: 0.7rem;
  background: linear-gradient(
    to right bottom,
    rgba(109, 109, 255, 0.45),
    rgba(255, 116, 116, 0.432)
  );

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 15px;
  transition: .3s all;
 
}
.chat_user_container img {
  width: 55px;
  border-radius: 50%;
  vertical-align: middle;
}
.user_icon {
    display: flex;
    gap: 20px;
    transition: .5s all;
}
.chat_user_container:hover{
    scale: 1.05;
}
